<%= form_with(model: pallet, local: true) do |form| %>
  <% if pallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pallet.errors.count, "error") %> prohibited this pallet from being saved:</h2>

      <ul>
      <% pallet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @new %>
    <div class="field">
      <%= form.label :origin_cc, 'Origin CC' %>
      <%= form.select :origin_cc, $cost_centers, {}, {:value => params[:origin_cc], id: :pallet_origin_cc, :onchange=> ("updateNewLocation()")} %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :origin_cc, 'Origin CC' %>
      <%= form.text_field :origin_cc, readonly: true, id: :pallet_origin_cc %>
    </div>
  <% end %>

  <% if !@new %>
    <div class="field">
      <%= form.label :current_cc, 'Current CC' %>
      <%= form.select :current_cc, $cost_centers, {}, {:value => params[:current_cc], id: :pallet_current_cc} %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :destination_cc, 'Destination CC' %>
    <%= form.select :destination_cc, $cost_centers, {}, {:value => params[:destination_cc], id: :pallet_destination_cc} %>
  </div>

  <div class="field">
    <%= form.label :current_location %>
    <%= form.select :current_location, @locations, {}, {:value => params[:current_location], id: :pallet_current_location} %>
  </div>

  <div class="field">
    <%= form.label :ict, 'ICT?' %>
    <%= form.check_box :ict, id: :pallet_ict, :onchange=> ("updateVendor()") %>
  </div>

  <div class="field">
    <%= form.label :vendor_code, "Vendor" %>
    <% if @ict %>
      <%= form.select :vendor_code, $dartagnan, {}, {:value => params[:vendor_code], id: :pallet_vendor_code} %>
    <% else %>
      <%= form.select :vendor_code, $vendors, {}, {:value => params[:vendor_code], id: :pallet_vendor_code} %>
    <% end %>
  </div>

  <% if !@new %>
    <div class="field">
      <%= form.label :due_date %>
      <%= form.date_field :due_date, id: :pallet_due_date, :value => @due_date %>
    </div>
  <% end %>

  <% if @new %>
    <div class="field">
      <%= form.label :number_of_pallets %>
      <%= form.number_field :number_of_pallets, min: 1, max: 99, id: :pallet_number_of_pallets %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>
<p id= "vendors" hidden> <%= $jsvendors %> </p>
<p id= "jsccs" hidden> <%= $ccs %> </p>
<p id= "jsloctypes" hidden> <%= $loctypes %> </p>
<p id= "jslocations" hidden> <%= $locations %> </p>
