<span class="primary-logo">
</span>
<span id="navbar">
  <span><%= link_to 'Load Planning', pallets_truck_path, class: "btn btn-primary" %></span>
  <span><%= link_to 'Report', pallets_report_path, class: "btn btn-primary" %></span>
  <span><%= link_to 'Pallets', pallets_path, class: "btn btn-primary" %></span>
</span>
<h1 class="title">Pallet Tracker
</h1>
<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
<br>
